button {
  border-radius: 20px;
}

h3 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #084734;
}

p {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.card {
  width: 382px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5%;
  background-color: #F9F9F9;

  .image-placeholder {
    width: 103px;
    height: 105px;
  }
}
