button {
  border-radius: 20px;
}

h3 {
  color: #084734;
  font-weight: 500;
}

.card {
  width: 382px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5%;
  background-color: #F9F9F9;
}
