<div class="wrapper">

  <h1>3. Form Elements</h1>

  <hr>

  <h2>3.1 Text Input</h2>
  <div class="inputs-row" [formGroup]="form">
    <div>
      <p>3.1.1 Default</p>
      <app-input formControlName="defaultInput" [label]="'Input Label'"></app-input>
    </div>
    <div>
      <p>3.1.2 Focused</p>
      <app-input formControlName="focused" [label]="'Input Label'"></app-input>
    </div>
    <div>
      <p>3.1.3 Completed</p>
      <app-input formControlName="completed" [label]="'Input Label'"></app-input>
    </div>
    <div>
      <p>3.1.4 Autoclear</p>
      <app-input formControlName="autoclear" [label]="'Input Label'" [clear]="true"></app-input>
    </div>
    <div>
      <p>3.1.5 Error</p>
      <app-input formControlName="errorMessage" [label]="'Input Label'"
                 [errorMessage]="form.controls.errorMessage.hasError('maxlength') ? 'Max length is 4 character' : ''"></app-input>
    </div>
    <div>
      <p>3.1.6 Disabled</p>
      <app-input formControlName="disabled" [label]="'Input Label'" [disabled]="true"></app-input>
    </div>
  </div>

  <div class="welcome">
    <app-card (isClicked)="calendarToggle()"></app-card>
    <app-calendar *ngIf="isCalendar"></app-calendar>
  </div>
</div>
