<div class="wrapper">

  <h1>3. Form Elements</h1>

  <hr>

  <h2>3.1 Text Input</h2>
  <div class="inputs-row" [formGroup]="form">
    <app-input formControlName="defaultInput" [label]="'Input Label'"></app-input>
    <app-input formControlName="focused" [label]="'Input Label'"></app-input>
    <app-input formControlName="completed" [label]="'Input Label'" ></app-input>
    <app-input formControlName="autoclear" [label]="'Input Label'" [clear]="true"></app-input>
    <app-input formControlName="errorMessage" [label]="'Input Label'" [errorMessage]="form.controls.errorMessage.hasError('maxlength') ? 'Max length is 4 character' : ''"></app-input>
    <app-input formControlName="disabled" [label]="'Input Label'" [disabled]="true"></app-input>
  </div>

  <div class="inputs-row">
    <app-card (isClicked)="openCalendar()"></app-card>
    <app-calendar *ngIf="isCalendar"></app-calendar>
  </div>
</div>
