<div class="calendar">
  <div class="calendar-info">
    <div class="month-info">
      <span>{{weekDates[0] | date : 'MMMM'}}</span>
    </div>
    <div class="week-info">
      <div class="back" (click)="previousWeek()"></div>
      <div class="week-interval">
        {{weekDates[0] | date : 'MMM'}} {{weekDates[0] | date : 'd'}} - {{weekDates[weekDates.length - 1] | date : 'd'}}
      </div>
      <div class="next" (click)="nextWeek()"></div>
    </div>
  </div>
  <div class="days">
    <div class="day" [ngClass]="isToday(day)" *ngFor="let day of weekDates; let i=index">
        <span class="week-day">{{day | date : 'E' }}</span>
        <span class="date">{{day | date : 'd'}}</span>
    </div>
  </div>
</div>
